* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 0;
}

.navbar-left {
  background-color: #076490;
  text-align: center;
  flex: 7%;
  color: white;
  cursor: pointer;

  line-height: 2.6;
}

.navbar-right i {
  cursor: pointer;
  padding: 16px;
}
.navbar-right {
  background-color: #199de5;
  flex: 93%;

  color: white;
}

.navbar-left :hover {
  background-color: #cccccc;
  color: black;
}

.navbar-right i:hover {
  background-color: white;
  color: black;
}

/*------------------ letf-side------- */

.container1 {
  display: grid;
  grid-template-rows: 300px 450px 120px 120px 200px;
  gap: 15px;
  padding: 15px;
  /* box-shadow:  -1px 1px 5px 5px rgba(192, 188, 188, 0.6); */
  /* border: 1px solid gray; */
  border-radius: 3px;
  margin: 15px;
  width: 50%;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 16px;
  background-color: #f4f6f7;
}

.myProfile {
  text-align: center;
  /* border-bottom: 1px solid rgba(192, 188, 188, 0.6); */
}
hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.profilePhoto img {
  width: 106px;
  height: 106px;
  vertical-align: middle;
  padding: 10px 10px;
}

.profile i {
  padding-left: 15px;
  padding-right: 30px;
  text-align: left;
}

.profileIcons {
  padding-top: 20px;
}
.profile {
  box-shadow: -1px 1px 5px 2px rgba(192, 188, 188, 0.6);
}
/* -------------My Groups---- */

.myGroup {
  /* gap: 10px; */
  /* padding-left: 0px; */
  /* padding-right: 30px; */
  box-shadow: -1px 1px 5px 2px rgba(192, 188, 188, 0.6);
  
  
}

.myGroup-main div {
  background-color: #199de5;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.myGroup-main div:hover {
  background-color: #cccccc;
  color: black;
}

.myGroup p1 {
  padding-left: 5px;
}
.myGroup i {
  padding-right: 30px;
}

/* ------Pictures--- */

.pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;

  padding: 10px 15px 5px 15px;
}
.pictures img {
  /* object-fit: ; */
  width: 100%;
  height: 100%;
}

/* ------interests------ */


.interests{

    font-size: small;
    box-shadow: -1px 1px 5px 2px rgba(192, 188, 188, 0.6);
    padding: 5px 0px 5px 15px;

}

.interests div {
    font-size: medium;
    padding-bottom: 5px;
}
.interests a11,a1{
    background-color:#076490;
    color: white;
    padding: 0px 8px;

}
.interests a2,a3,a4,a5,a6{
    background-color:#199de5;
    color: white;
    padding: 0px 8px;
}
.interests a7{
    background-color: #9eb1a9;
    padding: 0px 8px;
}
.interests a8{
    padding: 0px 8px;
    
    background-color:#9EB1BB ;

}
.interests a9{
    background-color:#b7ccd8 ;
    padding: 0px 8px;
}
.interests a10{
    background-color:#d5e4ec ;
    padding: 0px 8px;
}

/* -----------Hey------ */

.hey{
  position: relative;
  background-color: #DFE5E8;
  padding: 5px 0px 5px 15px;
}
 
.hey p2 {
  font-weight: bold;
  
}
.cross{
  position:absolute;
  
  top: 0;
  right:0;
  left: 260px;
  background-color: #CCCCCC;
  text-align: center;
  cursor: pointer;

}
.cross:hover{
  background-color: #9eb1a9;
  color: black;
}

/* ------mid -part--------- */

.container2{
  display: grid;
  grid-template-rows: 100px 450px 120px 120px 200px;
  gap: 15px;
  padding: 15px;
  border: 1px solid red;

}

.status{
  
  box-shadow: -1px 1px 5px 2px rgba(192, 188, 188, 0.6);

}

input{
  margin: 10px 2px 16px 2px;

  width: 98%;
  padding: 8px 16px;
  border: 1px solid #cccccc;
}

.post {
  background-color: #199de5;
  color: white;
  width: 60px;
  margin:3px 5px 3px 5px;
  padding: 5px;
  text-align: center;
  display: inline;
  cursor: pointer;

}
.post:hover{
  background-color: #cccccc;
  color: black;
}


/*-------Rachel Sine part------------ */

.dialog1 {
  box-shadow: -1px 1px 5px 2px rgba(192, 188, 188, 0.6);

}

.profPhoto {

 display:flex;
 /* justify-content:space-between; */
flex-direction: row;
justify-content: space-between;


}

.profPhoto img {
  width: 60px;
}